/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Nunito Sans', 'sans-serif'; */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.custom-bg {}

.custom-btn {
  border-color: var(--clr-primary-3);
  background-color: var(--clr-primary-3)
}

.custom-btn:hover {
  border-color: var(--clr-primary-3);
  background-color: white;
  color: var(--clr-primary-3);
}

.link {
  color: var(--clr-primary-3);
  /* color: #ec6e59; */
  list-style: none;
  text-decoration: none;
  font-weight: 600;

}

.link:hover {
  color: var(--clr-primary-3);
  transform: scale(1.1);
  /* color: #f58f7d; */
}

.active {
  border-bottom-color: var(--clr-primary-3);
  /* border-bottom: 3px solid #ec6e59; */
  border-bottom: 3px solid var(--clr-primary-3);
}


.custom-color-btn {
  background-color: #ec6e59;
  border: 1px solid #ec6e59;
}

.custom-color {
  color: var(--clr-primary-1);
  font-weight: 300;
}

.custom-font {
  font-style: italic;
  font-weight: 600;
  color: var(--clr-primary-3);

}

.custom-font {
  max-width: 700px;

}

.project-img {
  max-width: 400px;
  object-fit: cover;
  max-height: 100%;
  transition: all 0.4s ease;
  opacity: 0.9;
}


.project-img:hover {
  opacity: 1;
  transition: all 0.4s ease;
}

@media (min-width: 768px) {
  .form-class {
    width: 500px;
  }
}

.home {
  padding: 5px;
  background-color: darkblue;
}

* {
  scrollbar-width: none;
}

/* Hide scrollbar for other browsers */
*::-webkit-scrollbar {
  display: none;
}

/* Define variables for colors in both dark and light mode */
:root {
  /* Dark mode colors */
  --dark-mode-text-color: var(--clr-primary-5);
  --dark-mode-background-color: #000000;

  /* Light mode colors */
  --light-mode-text-color: var(--clr-primary-1);
  --light-mode-background-color: var(--clr-white);
}

/* Default to light mode */
body {
  color: var(--dark-mode-text-color);
  background-color: var(--dark-mode-background-color);
}

/* Toggle between dark and light mode */
body.dark-mode {
  color: var(--dark-mode-text-color);
  background-color: var(--dark-mode-background-color);
}

/* Add styles specific to dark mode */
body.dark-mode .custom-color-btn {
  background-color: #ec6e59;
  border-color: #ec6e59;
}

body.dark-mode .custom-btn:hover {
  background-color: black;
  color: #ffffff;
}

body.dark-mode .custom-btn,
body.dark-mode .link,
body.dark-mode .custom-font {
  color: var(--dark-mode-text-color);

}

/* Add styles specific to light mode */
body.light-mode .custom-color-btn {
  background-color: var(--clr-primary-3);
  border-color: var(--clr-primary-3);
}

body.light-mode .custom-color-btn:hover {
  background-color: white;
  color: var(--clr-primary-3);
}

body.light-mode .custom-btn,
body.light-mode .link,
body.light-mode .custom-font {
  color: var(--clr-primary-1);
}

/* Add styles specific to dark mode */
body.dark-mode {
  color: var(--dark-mode-text-color);
  background-color: var(--dark-mode-background-color);
}

/* Add styles specific to light mode */
body.light-mode {
  color: var(--light-mode-text-color);
  background-color: var(--light-mode-background-color);
}

/* Toggle between dark and light mode */

body.dark-mode .navbar {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-text-color);
}


body.light-mode .navbar {
  background-color: var(--light-mode-background-color);
  color: var(--light-mode-text-color);
}

body.dark-mode {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-text-color);
  border-color: var(--clr-primary-3);
}

body.light-mode .card {
  background-color: var(--light-mode-background-color);
  color: var(--light-mode-text-color);
}


.icon-container {
  cursor: pointer;
  font-size: 24px;
  /* Adjust the size as needed */
}

.medium-articles {
  max-width: 600px;
  margin: 0 auto;
}

.articles-header {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  animation: fadeInUp 1s ease-out;
  margin-top: 50px;
}

.article {
  background-color: #f9f9f9;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-out;
}

.article:hover {
  transform: translateY(-5px);
}

.article-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
  font-weight: 800;
}

.article-date {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.article-summary {
  margin-bottom: 15px;
  color: #555;
}

.read-article-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.read-article-btn:hover {
  background-color: #0056b3;
  color: #ffffff;
  font-weight: 800;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
}

body.light-mode .footer {
  background-color: var(--light-mode-background-color);
  color: var(--light-mode-text-color);
  padding: 20px 0;
}

body.dark-mode .footer {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-text-color);
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__section {
  flex: 1;
  margin-right: 20px;
}

.footer__sectionTitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer__sectionLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.footer__sectionLinks li {
  margin-bottom: 5px;
}

.footer__bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.footer__logo {
  font-size: 24px;
  font-weight: bold;
}

.footer__copyright {
  font-size: 14px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}